.dashboard-view {
  display: flex;
  flex-direction: column;
  background-color: #FFF; /* Fondo blanco para todo el dashboard */
  padding: 40px;
  max-width: 100%;
  margin: 0 auto; /* Centra el contenido horizontalmente */
  box-sizing: border-box;
}

.header {
  background-color: #323E1D; /* Fondo diferente para el header */
  padding: 25px;
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
  align-items: center; /* Alinea los elementos al centro horizontalmente */
  width: calc(100% + 80px); /* Para contrarrestar el padding del contenedor padre */
  margin: -40px; /* Para contrarrestar el padding del contenedor padre */
  margin-bottom: 20px; /* Añade un margen inferior para separar del contenido siguiente */
  box-sizing: border-box;
}

.search-bar-container {
  position: relative;
  width: 100%;
  max-width: 834px;
  margin-bottom: 15px; /* Añade un espacio debajo de la barra de búsqueda */
}

.search-bar {
  padding: 10px 10px 10px 40px; /* Añadir espacio para el ícono */
  border-radius: 10px;
  border: none;
  width: 100%; /* Usa un porcentaje para que se ajuste automáticamente */
  max-width: 834px;
  margin-bottom: 15px; /* Añade un espacio debajo de la barra de búsqueda */
  text-align: left;
  background-color: #F3E8DB;
  background-image: url('');
  background-size: 20px 20px;
  background-position: 10px center;
  background-repeat: no-repeat;
}

.search-button {
  position: absolute;
  top: 40%;
  left: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #000; /* Color del ícono */
  font-size: 20px;
  cursor: pointer;

}
.filters-carousel {
  width: 100%;
  overflow: hidden; /* Oculta los botones que están fuera del área visible */
}

.filters {
  display: flex;
  gap: 30px;
  justify-content: center; /* Centra los botones horizontalmente */
  width: 100%;
  flex-wrap: wrap;
}

.filter-button {
  background: none;
  border: none;
  color: #D9D9D9;
  font-family: "Share Tech", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.28px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
  
}

.filter-button:hover {
  color: #FFFFFF;
  text-decoration: underline;
  text-decoration-color: yellow;
  text-underline-offset: 4.5px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  margin-top: 70px;
}

.card {
  background-color: white;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 5px;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.tag {
  background-color: yellow;
  padding: 5px;
  border-radius: 3px;
  font-size: 0.8rem;
}

.title {
  font-size: 1.2rem;
  margin: 10px 0;
}

.description {
  font-size: 1rem;
  color: #555;
}

.price {
  font-size: 1.1rem;
  font-weight: bold;
}

.rating {
  margin-top: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
  .search-bar {
    width: 100%;
  }

  .filters-carousel {
    overflow-x: auto; /* Permite desplazamiento horizontal */
  }

  .filters {
    flex-wrap: nowrap; /* Evita que los botones se ajusten a múltiples líneas */
    justify-content: flex-start; /* Alinea los botones al inicio del contenedor */
    width: max-content; /* Ajusta el ancho al contenido */
  }

  .filter-button {
    flex: 0 0 auto; /* Evita que los botones se estiren o se encogen */
  }
}

@media (max-width: 480px) {
  .card-content {
    padding: 10px;
  }

  .card {
    border-radius: 20px;
  }

  .search-bar {
    width: 100%;
    max-width: none;
  }
}
